USE [master]
GO
/****** Object:  Database [dbAlmacen]    Script Date: 7/04/2025 7:09:10 a. m. ******/
CREATE DATABASE [dbAlmacen]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbAlmacen', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbAlmacen.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbAlmacen_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbAlmacen_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbAlmacen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbAlmacen]
GO
/****** Object:  Table [dbo].[tipousuario]    Script Date: 7/04/2025 7:09:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipousuario](
	[idTipo] [int] IDENTITY(1,1) NOT NULL,
	[tipoUsuario] [nchar](50) NULL,
 CONSTRAINT [PK_tipousuario] PRIMARY KEY CLUSTERED 
(
	[idTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 7/04/2025 7:09:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [nchar](100) NULL,
	[apellidos] [nchar](100) NULL,
	[direccion] [nchar](100) NULL,
	[telefonoFijo] [nchar](100) NULL,
	[celular] [nchar](100) NULL,
	[email] [nchar](100) NULL,
	[foto] [nchar](100) NULL,
	[ubicacion] [nchar](100) NULL,
	[estado] [nchar](100) NULL,
	[clave] [nchar](100) NULL,
	[idTipousuario] [int] NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_tipousuario] FOREIGN KEY([idTipousuario])
REFERENCES [dbo].[tipousuario] ([idTipo])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_tipousuario]
GO
USE [master]
GO
